<div class="anita-fixed-album-title">
  <div class="anita-album-title">
    <div class="anita-albums-back-wrap" data-aos="fade-up">
      <a href={{backPath}} class="anita-albums-back">{{back}}</a>
    </div>
    <h1 class="anita-page-title" data-aos="fade-up" data-aos-delay="50">
      {{title}}
    </h1>
    <div
      class="anita-post-meta anita-meta"
      data-aos="fade-up"
      data-aos-delay="100"
      data-aos-offset="20"
    >
      <span>{{subtitle1}}</span>
      <span>{{subtitle2}}</span>
    </div>
  </div>
</div>