<section class="anita-section" data-aos="fade-up">
  <div
    class="anita-justified-grid anita-justified-zoom-hover anita-justified-fade-hover anita-justified-image-zoom-hover"
  >
    {{#each items}}
      <a href={{href}} class="anita-lightbox-link" data-size={{size}}>
        <img src={{src}} alt={{alt}} width={{width}} height={{height}} />
      </a>
    {{/each}}
  </div>
</section>