<div class="anita-album-nav-prev" data-aos="fade-right" data-aos-delay="500">
  <a href={{hrefLeft}} class="anita-prev-album-link">
    <div class="anita-data-background" data-src={{srcLeft}}></div>
    <span>
      {{subtitleLeft}}
      <span class="anita-prev-album-title">{{titleLeft}}</span>
    </span>
  </a>
</div>
<div class="anita-album-nav-next" data-aos="fade-left" data-aos-delay="500">
  <a href={{hrefRight}} class="anita-next-album-link">
    <div class="anita-data-background" data-src={{srcRight}}></div>
    <span>
      {{subtitleRight}}
      <span class="anita-prev-album-title">{{titleRight}}</span>
    </span>
  </a>
</div>